@import "bootstrap/scss/bootstrap";

$bootstrap-icons-font-dir: "../../../node_modules/bootstrap-icons/font/fonts";
@import "bootstrap-icons/font/bootstrap-icons";

.md2html {
  p,
  ol {
    margin-bottom: 0.2rem !important;
  }
}

.description-popover {
}
