@import "bootstrap/scss/bootstrap";

$bootstrap-icons-font-dir: "../../../node_modules/bootstrap-icons/font/fonts";
@import "bootstrap-icons/font/bootstrap-icons";

.md2html {
	p,
	ol,
	ul {
		margin-bottom: 0rem !important;
	}
}
